:root {
  --text-color: #03045e;
}

.fac-container-admin {
  border-radius: 20px;
  background: rgba(204, 220, 223, 0.376);
  width: 100%;
  max-width: 1200px;
  margin: 100px auto;
  padding: 30px;
  min-height: 400px;
  overflow-y: auto;
}

.input-group-admin {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group-admin label {
  color: var(--text-color);
  font-weight: 800;
  font-size: 26px;
  margin: 10px auto;
}

.factcon-admin,
.typecon-admin {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.facility-item-admin,
.typename-admin {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: calc(25% - 20px);
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.facility-item-admin:hover {
  transform: scale(1.05);
}
.typename-admin:hover {
  transform: scale(1.05);
}
.input-group-checkbox-admin {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-group-checkbox-admin label {
  margin-right: 10px;
}

.fac-container-admin button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.2s;
}

.editbtn-admin {
  background-color: var(--text-color);
  color: white;
  margin: 0px auto;
}

.editbtn-admin:hover {
  background-color: darkblue;
}

.deletebtn-admin {
  background-color: #dc3545;
  color: white;
  margin: 0px 10px;
}

.deletebtn-admin:hover {
  background-color: darkred;
}

.addsport-admin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  color: white;
  margin-top: 20px;
}

.addfac-admin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  color: white;
  margin-top: 20px;
}

.add-fac-title {
  text-align: center;
  margin: 10 auto;
}

.add-sport-title {
  text-align: center;
  margin: 10 auto;
}

.addfaccon-admin {
  margin: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addsportcon-admin {
  margin: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addfac-admin:hover {
  width: 100%;
  background-color: #0056b3;
}

.confirm-modal-type {
  backdrop-filter: blur(3px);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-type {
  z-index: 2;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 100%;
  width: 400px;
}
.modal-content-type input {
  border-radius: 8px;
  padding: 8px;
}

.confirmbtn-type,
.cancelbtn-type {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.confirmbtn-type {
  background-color: green;
  color: white;
}

.confirmbtn-type:hover {
  background-color: darkgreen;
}

.cancelbtn-type {
  background-color: #dc3545;
  color: white;
}

.cancelbtn-type:hover {
  background-color: darkred;
}

.edit-form-fac {
  z-index: 2;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  width: 400px;
}

.edit-form-fac input {
  display: flex;
  padding: 8px;
  margin: 10px auto;
  border-radius: 4px;
  width: auto;
  box-sizing: border-box;
}

.form-actions-admin {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin: 10px auto;
}

.savebtn-admin {
  margin: 10px;
  background-color: green;
  color: white;
}

.savebtn-admin:hover {
  background-color: darkgreen;
}

.cancelbtn-admin,
.canbtn-admin {
  width: auto;
  margin: 10px;
  background-color: gray;
  color: white;
}

.cancelbtn-admin:hover {
  background-color: darkgray;
}
.canbtn-admin:hover {
  background-color: darkgray;
}

.add-facility-form-admin {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 10px 10px;
}
.add-facility-form-admin input {
  height: 30px;
  border-radius: 8px;
  padding: 8px;
  max-width: 100%;
  width: 200px;
}
.add-sport-form {
  z-index: 2;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 100%;
}

.add-sport-form input {
  border-radius: 8px;
  padding: 8px;

  margin: 20px 10px;
  height: 30px;
  /* border-radius: 0px; */
  max-width: 100%;
  width: 200px;
}
.sportname-admin {
  margin-bottom: 10px;
}

.no-sport-type {
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.pagination-facilities {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination-facilities button {
  padding: 6px 12px;
  font-size: 14px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-facilities button.active {
  background-color: var(--text-color);
  color: white;
  font-weight: bold;
}

.button-group-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive Design //////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 888px) {
  .facility-item-admin,
  .typename-admin {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .modal-actions-tpye {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  .cancelbtn-admin,
  .canbtn-admin {
    width: 100%;
  }
  .facility-item-admin,
  .typename {
    align-items: center;
    justify-content: center;
    width: calc(50% - 20px);
  }

  .modal-content-type {
    width: 100%;
  }

  .edit-form-fac input {
    width: 100%;
  }

  .input-group-checkbox-admin {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-actions-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .confirmbtn-type,
  .cancelbtn-type,
  .savebtn-admin,
  .cancelbtn-admin {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .facility-item-admin,
  .typename-admin {
    width: 100%;
  }
  .fac-container-admin {
    width: 100%;
  }
  .modal-content-type {
    width: 100%;
  }
}
