:root {
  --text-color: #03045e;
}

.confirm-reset-password-container {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 120px auto 20px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.confirm-reset-password-head-titel h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 24px;
}

.newpassword-title {
  color: var(--text-color);
  margin-left: 45px;
  text-align: left;
  display: block;
}
.input-comfirm-resert input {
  margin: 10px auto 30px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  max-width: 100%;
  box-sizing: border-box;
}
.btn-confirm-reset-password button {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.btn-confirm-reset-password button:hover {
  background-color: #45a049;
}
