:root {
  --text-color: #03045e;
}

.edit-profile-container {
  width: 70%;
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.head-edit-profile {
  text-align: center;
  background: white;
  color: var(--text-color);
  padding: 12px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
}

.editprofile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-profile-title {
  color: var(--text-color);
  font-weight: bold;
  margin: 12px 2px 0px;
}

.editprofile-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.save-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-btn:hover {
  background-color: #218838;
}

.change-password-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--text-color);
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.change-password-link:hover {
  background-color: #08096a;
}

.change-password-link:active {
  background-color: #003f6a;
}
