:root {
  --text-color: #03045e;
}

.password-wrapper-login {
  position: relative;
}

.password-wrapper-login input {
  width: 100%;
  padding-right: 60px; 
}

.toggle-password-btn-login {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 0.9rem;
}

.login-container {
  max-width: 350px;
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.login-container h2 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.input-group-login {
  margin-bottom: 15px;
  text-align: left;
}

.input-group-login label {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  display: block;
  margin-bottom: 5px;
}

.input-group-login input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
}

.input-group-login input:focus {
  border-color: var(--text-color);
  box-shadow: 0 0 5px rgba(3, 4, 94, 0.5);
  outline: none;
}

.login-button {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--text-color);
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.login-button:hover {
  background: #02226c;
}

.welcome-message {
  background-color: var(--text-color);
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container .message {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.login-container .message.error {
  background-color: #f8d7da;
  color: #d90429;
}

.login-container .message.success {
  background-color: #cce5ff;
  color: var(--text-color);
}

.login-container .message i {
  margin-right: 5px;
}

.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0px 0px 0px;
  margin: 10px auto 0 auto;
  a{
    text-decoration: none;
  }
}
.reset-link, .register-link {
  font-size: 14px;
  color: #007BFF;
  font-weight: 500;
  transition: all 0.3s ease;
}

.reset-link:hover, .register-link:hover {
  color: #0056b3;
}

.reset-password a {
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  background-color: #dddddd;
  border: 1px solid #ddd;
  color: #333;
  transition: all 0.3s ease;
}

.reset-password a:hover {
  background-color: var(--text-color);
  color: white;
  cursor: pointer;
}

.login-button[disabled] {
  /* background: #7275be; */
  cursor: not-allowed;
  /* opacity: 0.8; */
}
