
.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.logout-button {
  color:black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.logout-button i {
  font-size: 20px;
}
