.post-container {
  max-width: 600px;
  margin: 5px auto;
  padding: 20px;
  width: 100%;
}

.form-group-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group-post label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group-post input,
.form-group-post textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.form-group-post textarea {
  height: 200px;
  resize: none;
}

.file-input-hidden-post {
  display: none;
}

.file-label-post {
  display: inline-block;
  padding: 8px 16px;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid #ccc;
  transition: background 0.2s ease-in-out;
}

.submit-btn-post {
  width: 100%;
  padding: 12px;
  background: var(--text-color);

  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.submit-btn-psot:hover {
  background: #061996;
}

.add-post-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-post-button:hover {
  background-color: #45a049;
}

.cancel-btn {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #aaa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-btn:hover {
  background-color: #8b8b8b;
}

.image-preview-container-post {
  margin-top: 20px;
  text-align: center;
}

.image-preview-container-post ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-preview-container-post li {
  margin: 10px;
  text-align: center;
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #ddd;
}

.image-preview-container-post img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.delpre {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #e23125;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}
.delpre:hover {
  background-color: #e53935;
}

/* Responsive  */
@media (max-width: 600px) {
  .post-container {
    padding: 10px;
    margin: 5px;
  }

  .post-container h2 {
    font-size: 20px;
  }

  .form-group-post input,
  .form-group-post textarea {
    font-size: 14px;
  }

  .submit-btn-post {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .post-container {
    padding: 10px;
    margin: 5px;
  }
  .add-post-button {
    margin-bottom: 0px;
    padding: 5px 10px;
    font-size: 14px;
  }
}
