:root {
  --text-color: #03045e;
}

.field-info-profile h1 {
  text-align: center;
  margin-top: 0px;
  color: var(--text-color);
}

.field-info-profile p {
  color: #333;
  font-size: 18px;
  font-weight: 400;
}

.head-title-profile {
  display: flex;
  align-items: center;
}
.head-title-profile strong {
  font-weight: 600;
  color: var(--text-color);
  margin: 20px;
  font-size: 34px;
}

.image-container-profile {
  margin: 70px auto 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  max-width: 100%;
  background-color: #f5f9fd;
  padding: 10px;
}

.field-image-profile {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Container for the field details */
.field-detail-container-profile {
  max-width: 1450px;
  margin: 0px auto 20px auto;
  padding: 20px 20px 10px 20px;
  background-color: #f5f9fd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
}

.field-facilities-profile {
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 15px;
}

.field-facilities-profile h1 {
  margin: 0px 0px 5px 0px;
  color: var(--text-color);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.opendays {
  color: #333;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

.facbox-profile {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin: 20px 30px;
}

.facitem-profile {
  text-align: left;
  padding: 10px 1px;
}

.facitem-profile span {
  color: #333;
}

.aside {
  width: 100%;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.detail-profile {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px 20px;
  margin: 20px 30px;
}

.post-profile h1 {
  color: var(--text-color);
  text-align: center;
  margin: 15px 0px 10px 20px;
}

.post-profile {
  margin: 0px 10px;
  padding: 0px 8px 0px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px;
  max-width: 100%;
}

.add-post-button {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-post-button:hover {
  background-color: #45a049;
}

.field-info-profile {
  text-align: left;
  max-width: 100%;
  width: 450px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.field-info-profile p {
  padding: 10px;
  margin: 8px 0;
}

.field-info-profile strong {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.field-info-profile h1 {
  text-align: center;
  margin-top: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin: 5px 0;
  color: #333;
}

/* Sub Fields Section */
.undercontainer-proflie {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 380px;
  height: 100%;
}
.undercontainer-proflie h1 {
  color: var(--text-color);
  text-align: center;
}
.sub-fields-container-profile {
  max-height: 600px;
  overflow-y: auto;
}
.sub-fields-container-profile h1 {
  text-align: left;
  margin-top: 0px;
}

.sub-field-card-profile {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.sub-field-card-profile:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* ขยายเงาตอน hover */
  cursor: pointer;
}

.sub-field-card-profile h2 {
  background: none;
  margin-bottom: 10px;
  color: var(--text-color);
}

.sub-field-card-profile p {
  margin: 10px;
  color: #333;
  font-size: 18px;
  font-weight: 400;
}

.sub-field-card-profile strong {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}
.add-ons-container-profile {
  margin-top: 10px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 8px;
}

.add-ons-container-profile h3 {
  text-align: center;
  color: var(--text-color);
}
.no-addon-profile p {
  text-align: center;
  color: #007bff;
}

.add-ons-container-profile ul {
  padding-left: 0;
  list-style-type: none;
}

.add-ons-container-profile ul li {
  margin: 5px 0;
  font-size: 12px;
  color: #333;
}

.custom-no-fields-message {
  margin: 20px;
  text-align: center;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.profile-btn button {
  width: 190px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(135deg, #1b0ed4, #055199); /* ไล่สี */
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(135, 126, 255, 0.3);
  outline: none;
}

.profile-btn button:hover {
  background: linear-gradient(135deg, #055199, #1b0ed4);
  transform: scale(1.05);
}

.profile-btn button:active {
  transform: scale(0.95);
}

.field-facilities-profile p.no-facilities {
  font-size: 16px;
  color: #888;
  text-align: center;
}

.post-card-profile {
  position: relative;
  min-height: 20vh;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 600px;
  width: auto;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-title {
  color: var(--text-color);
  text-align: left;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0px;
}

.time {
  font-weight: 500;
  margin: 5px;
  text-align: right;
  font-size: 1rem;
  color: #8a8989;
}

.post-text {
  font-weight: 500;
  text-align: left;
  font-size: 20px;
  color: #555;
  margin: 10px auto 20px auto;
}

.see-more-button-post {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  margin-left: 4px;
}

.ig-carousel-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  position: relative;
}

.ig-carousel-track-wrapper {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  height: 300px;
}

.ig-carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  height: 100%;
}

.ig-carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

/* ปุ่มเลื่อน */
.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 40px;
  color: #bbb;
  cursor: pointer;
  z-index: 10;
}

.arrow-btn.left {
  left: 10px;
}

.arrow-btn.right {
  right: 10px;
}

.dot-indicators {
  margin-top: 10px;
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--text-color);
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: zoom-out;
}

.lightbox-image {
  max-width: 85%;
  max-height: 85%;
  object-fit: contain;
  animation: fadeIn 0.3s ease;
}

/* css edit del */
.form-group-profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.edit-form-post {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.edit-form-post input,
.edit-form-post textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.edit-form-post textarea {
  height: 200px;
  resize: none;
}

.file-input-hidden-profile {
  display: none;
}

.file-label-profile {
  display: inline-block;
  padding: 8px 16px;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid #ccc;
  transition: background 0.2s ease-in-out;
}

.preview-gallery-profile {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.preview-image-profile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.edit-form-post button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.edit-form-post button:hover {
  background: #0056b3;
}

.canbtn-post {
  height: 40px;
  width: 100%;
  background-color: #aaa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.canbtn-post:hover {
  background-color: #8b8b8b;
}

.edit-form-post button[type="button"] {
  background-color: #aaa;
}

.post-actions-profile {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
}

.post-actions-profile .btn-profile {
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.post-actions-profile .btn-profile:first-child {
  background-color: #d0d0d09a;
  color: #555;
}
.post-actions-profile .btn-profiles:first-child:hover {
  background-color: #9e9a9a;
}

.post-actions-profile .btn-profile:last-child {
  background-color: #dc3545;
  color: white;
}
.post-actions-profile .btn-profile:last-child:hover {
  background-color: #c82333;
}

.pagination-post-profile {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination-post-profile button {
  padding: 6px 12px;
  font-size: 14px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-post-profile button.active {
  background-color: var(--text-color);
  color: white;
  font-weight: bold;
}

.modal-overlay-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-post-profile {
  background: white;
  padding: 24px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}
.modal-post-profile p {
  color: rgb(0, 0, 0);
}

.modal-actions-post {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.modal-actions-post .delbtn-post {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  background-color: #dc3545;
  color: white;
}
.modal-actions-post .canbtn-post {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  background-color: #3564dc;
  color: white;
}

.reviwe-title-profile {
  margin: 15px auto;
}

.filter-profile {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  width: 180px;
  transition: all 0.2s ease;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

.filter-profile:focus {
  outline: none;
  border-color: var(--text-color);
}

.reviwe-container-profile {
  max-height: 500px;
  overflow-y: auto;
  margin: 10px;
  padding: 8px;
  min-height: 300px;
}

.reviwe-content-profile {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
}

.no-reviwe-content-profile {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
  min-height: 300px;
}

.no-review-text {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  font-size: 16px;
  padding: 1rem;
}

.review-box-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.review-name-profile {
  font-size: 14px;
  color: var(--text-color);
  font-weight: bold;
}

.review-stars-profile {
  display: flex;
  gap: 4px;
}

.star-profile {
  font-size: 20px;
  color: #ccc;
}

.star-profile.active {
  color: #facc15;
}

.detail-reviwe-profile .review-label {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 4px;
}

.detail-reviwe-profile .review-comment {
  font-size: 15px;
  background-color: #f9fafb;
  padding: 12px;
  border-radius: 8px;
  line-height: 1.6;
  color: #374151;
}

@media screen and (max-width: 1180px) {
  .post-profile {
    margin-top: 40px;
  }
  .field-detail-container-profile {
    align-items: center;
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }
  .undercontainer-proflie {
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
  }

  .field-info-profile {
    margin-top: 30px;
    max-width: 500px;
    width: 100%;
  }
  .field-info-profile h1 {
    text-align: center;
  }
  .sub-fields-container-profile h1 {
    text-align: center;
  }
  .post-profile h1 {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .field-detail-container-profile {
    max-width: 600px;
  }
  .field-info-profile h1,
  .post-profile h1,
  .field-info-profile h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {
  .field-detail-container-profile {
    max-width: 550px;
  }
}

@media screen and (max-width: 580px) {
}
