:root {
  --text-color: #03045e;
}

.register-container {
  max-width: 350px;
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.register-head {
  color: var(--text-color);
  margin-bottom: 20px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.input-group-register {
  margin-bottom: 15px;
  text-align: left;
}

.input-group-register label {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  display: block;
  margin-bottom: 5px;
}

.input-group-register input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
}

.input-group-register input:focus {
  border-color: var(--text-color);
  box-shadow: 0 0 5px rgba(3, 4, 94, 0.5);
  outline: none;
}

.register-button {
  background: var(--text-color);
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.register-button:hover {
  background: #02226c;
}

.register-container .error-message {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #d90429;
  font-size: 14px;
  margin-top: 5px;
}

.register-container .error-message i {
  color: #d90429;
}

.input-group-register input.error {
  border-color: #d90429;
  background: rgba(217, 4, 41, 0.1);
}

.register-container .success-message {
  margin-top: 20px;
  background-color: #cce5ff;
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container .success-message i {
  margin-right: 5px;
}

.login-title {
  margin: 15px auto 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    background-color: #dddddd;
    border: 1px solid #ddd;
    color: #333;
    transition: all 0.3s ease;
  }
}

.login-title a:hover {
  background-color: #cdcccc;
  cursor: pointer;
}
