:root {
  --text-color: #03045e;
}

.head-titel {
  margin: 10px;
}

.reset_password_container {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 120px auto 20px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.reset_password_container p {
  font-size: 14px;
}
.reset_password_container h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 24px;
}
.input-foget-password input {
  margin: 20px auto 10px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  max-width: 100%;
  box-sizing: border-box;
}
.btn-submit-reset-password button {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.btn-submit-reset-password button:hover {
  background-color: #45a049;
}
.btn-resend button {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: var(--text-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.btn-resend button:hover {
  background-color: #041f6b;
}
.login-reset-password {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  border: 1px solid #ddd;
  color: #333;
  width: 50%;
  height: 30px;
  margin: 0px auto;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
}

.login-reset-password:hover {
  background-color: #cdcccc;
  cursor: pointer;
}
