.containercategory {
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 90px auto;
  width: 100%;
}

.Category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .containercategory {
    width: 100%;
  }

  .Category {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .containercategory {
    width: 100%;
  }

  .Category {
    width: 60%;
  }
}
@media screen and (max-width: 380px) {
  .containercategory {
    width: 100%;
  }

  .Category {
    width: 60%;
  }
}
