:root {
  --text-color: #03045e;
}

.verification-container {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 150px auto 20px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.head-titel {
  margin: 10px;
}
.verification-container p {
  font-size: 14px;
}
.verification-container h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 24px;
}
.input-verify input {
  margin: 20px auto 30px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  max-width: 100%;
  box-sizing: border-box;
}
.btn-resend-otp {
  margin: 20px auto 0px auto;
}

.btn-submit-verify button {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.btn-submit-verify button:hover {
  background-color: #45a049;
}
.btn-resend-otp button {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--text-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.btn-resend-otp button:hover {
  background-color: #041f6b;
}
